* {
    font-family: 'mc', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url('../../Assets/img/mcbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.containerVes {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.versionBox {
    height: 29.5vh;
    width: 30%;
    background-color: black;
    border: none;
    border-radius: 20px;
    display: flex;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: clamp(2rem, 5vw, 4rem); 
    transition: transform 0.3s ease, opacity 0.3s ease;
    text-align: center; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

#mcbe {
    font-family: 'mc', 'Courier New', Courier, monospace;
    background-image: url('../../Assets/img/mcbebg.jpg');
    background-size: cover;
    opacity: 1; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#mcje {
    font-family: 'mc', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('../../Assets/img/mcjebg.webp');
    background-size: cover;
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
    letter-spacing: 5px;
}

#mcbe:hover {
    opacity: 1; 
    transform: scale(1.05); 
    box-shadow: 0 0 15px 5px rgba(0, 100, 255, 0.75); 
}

#mcje:hover {
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px rgba(0, 100, 255, 0.75); 
}

.dark-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: 9999;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 0; 
    animation: fadeIn 1s ease forwards; 
}

@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}